@media print{
    body{
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    [class=genus]{
        width: 100%;
    }
    [class=specieslist]{
        width: 100%;
    }
    [class=genuscite]{
        width: 100%;
        font-size: .90em;
    }
    [class=species]{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    [cite]{
        font-size: .90em;
}

}


main {
    border: 2px dotted;
    font-family: "Merriweather", serif;
    font-size: 1em;
    text-align: center;
    color: #4f3222;
    background-color: #d4ac6e;
}

main a:link{
    color: #4f3222;
}

main a:visited{
    color: #4f3222;
}

main a:hover{
    color: white;
}

figure {
    border: 2px dotted;
    border-top: none;
    padding: 5px;
    font-family: "Merriweather", serif;
    font-size: 1em;
    text-align: center;
    color: #4f3222;
    background-color: #d4ac6e;
    max-width: 950px;
    margin: auto;
}

p {
    font-family: "Merriweather", serif;
    font-size: 1em;
    color: #4f3222;
    display: inline block;
    line-height: 1.6em;
    padding: .75em;
    text-align: left;
    
}


ol {
    text-align: left;
}
footer {
    border: 2px dashed;
    font-family: "Merriweather", serif;
    font-size: 1em;
    text-align: center;
    color: #4f3222;
    background-color: #d4ac6e;
}

footer a:link{
    color: #4f3222;
}

footer a:visited{
    color: #4f3222;
}

footer a:hover{
    color: white;
}

footer::after {
    content: url(foxicon.png);
    
}



h1#logo {
    font: bold, "Playfair Display", serif;
    font-size: 5em;
    transform: capitalize;
    border: 2px dotted black;
    border-bottom: none;
    color:#dbceb0;
    text-shadow: -5px 5px 5px #4f3222;
    text-align: center;
    margin: auto;
    margin-top: .5em;
    padding: .5em;
    background: #7e4a35; /* Old browsers */
    background: -moz-linear-gradient(top, #7e4a35 0%, #d4ac6e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7e4a35 0%,#d4ac6e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7e4a35 0%,#d4ac6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e4a35', endColorstr='#d4ac6e',GradientType=0 ); /* IE6-9 */
}

h2, h3 {
    font: bold, "Playfair Display", serif;
    transform: capitalize;
    color: #4f3222;
    border: 2px dotted;
    background-color: #dbceb0;
    text-align: center;
    
}

body {background-color: #8b6f47;
      max-width: 950px;
      text-align: center;
      margin: auto;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e4a35+0,d4ac6e+100 */
    background: #7e4a35; /* Old browsers */
    background: -moz-linear-gradient(top, #7e4a35 0%, #d4ac6e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7e4a35 0%,#d4ac6e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7e4a35 0%,#d4ac6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e4a35', endColorstr='#d4ac6e',GradientType=0 ); /* IE6-9 */
}


#nav {
    font-family: "Merriweather", serif;
    color: #bbab9b;
    background-color: #7e4a35;
    text-align: center;
    border: 2px dotted;
    list-style-type: none;
    font-size: 1.5em;
    margin: 0;
}


a:link {
    color:#d4ac6e;
    
}

a:visited {
    color:#d4ac6e;
}

a:hover {
    color: white;
}

a:active{
    color:#a5a178;
}

figure#main {
    display: block;
    position: relative;
    border: none;
    margin: auto;
    font-style: italic;
}

figure#inline {
    display: block;
    position: relative;
    border: none;
    margin: auto;
    font-style: italic;
    background: white;
    float: left;
}

figure#inline2 {
    display: block;
    position: relative;
    border: none;
    margin: auto;
    font-style: italic;
    background: white;
    float: right;
}


cite {
    position: absolute;
    right: 0;
    bottom: 0;
    font-style: italic;
    font-size: .75em;
    background: white;
    opacity: .6;    
    text-align: center;
    color: black;
}

cite#main {
    position: absolute;
    bottom: 1em;
    left: 0;
    font-style: italic;
    font-size: .75em;
    background: none;
}

.genus {
    font-size: 1.25em;
    text-decoration: underline;
}

.specieslist {
    width: 30%;
    float: left;
}

.species {
    font-size: 1em;
    position: relative;
}

.genusheading {
    clear: both;
}

.genuscite {
    position: absolute;
    font-style: italic;
    bottom: 1em;
    right: 9em;
    font-size: .75em;
    background: white;
    opacity: .6;    
    text-align: center;
    color: black;
}

